* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/* Menu lateral */
.menu-container {
    background-color: #b16bf0;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23c0c0c0' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 245px;
    height: 832px;
    gap: 20px;

}
.menu-card img {
    width: 70%;
    border-radius: 100%;
}
#nome {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    font-weight: bold
}
.btn-anchor {
    width: 90%;
    display: flex;
    justify-content: center;
}
.button-menu {
    background-image: linear-gradient(180deg, #1a1a1a, #0d0d0d);
    color: white;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 10px;
    border-radius: 12px;
    width: 100%;
    border: none;
    margin-top: 10px;
}
.button-menu p {
    padding: 0;
    margin: 0;
}
.button-menu:hover {
    background-image: linear-gradient(180deg, #b16bf0, #a841a5);
}

/*Sessão principal*/
.principal-container {
    background-image: linear-gradient(180deg, #1a1a1a, #0d0d0d);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.section-main {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
}
.junta-paragrafo p{
    margin: 0;
}
#dados-sobre-mim {
    margin: 10px;
}
.linguagens {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.linguagens img {
    width: 10%;
}
.linguagens img:hover {
    background-image: linear-gradient(180deg, #b16bf0, #a841a5);
    border-radius: 8px;
}

/* Minhas Inspirações */
.inspiracoes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.inspiracoes-container img {
    margin: 20px;
    width: 30%;
    min-width: 200px;
    border-radius: 8%;
    
}
.inspiracoes-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}
.inspiracoes-card p {
    width: 80%;
    text-align: center;
    margin: 0.5%;
}
.nome-inspiracoes {
    font-weight: bolder;
}
.descricao-inspiracoes{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif
}
.descricao-inspiracoes:hover, 
.nome-inspiracoes:hover {
    background-image: linear-gradient(180deg, #b16bf0, #a841a5);
    border-radius: 8px;
    color: black
}

/* Responsividade para tablet e celular */
@media(max-width: 1007px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .menu-container {
        height: 400px;
        align-content: space-around;
    }
    .menu-card img {
        width: 50%;
    }
    #nome {
        font-size: 35px;
    }
    #redes-sociais-btn {
        display: flex;
    }
    .button-menu {
        padding: 15px;
        margin: 5px;
        border: none;
        border-radius: 100%;
    }
    .button-menu p {
        display: none;
    }
    .button-menu svg {
        width: 40px;
        height: 40px;
    }
}